#inicio {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 5px;
	border-radius: 20px;
	background-color: #ffc107;
	color: white;
	padding: 10px;
}

footer p a:hover {
	margin: 5px 5px;
	color: #ffc107;
	background-color: white;
	text-decoration: none;
}